<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-config-di.xml"/>

    <bean id="scool" class="ru.xcodeleon.spring.di.Scool">

        <property name="contacts">
            <props>
                <prop key="name">Avenue</prop>
                <prop key="email">Avenue@mail.ru</prop>
                <prop key="phone">+7(111)111-11-11</prop>
            </props>
        </property>

        <property name="courses">
            <list>
                <ref bean="course"/>
            </list>
        </property>

        <property name="students">
            <map>
                <entry key="1" value-ref="student"/>
            </map>
        </property>

        <property name="teachers">
            <ref bean="teacher"/>
        </property>
    </bean>


</beans>