<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id="lazy" class="ru.xcodeleon.spring.Lazy.LazyBean" lazy-init="true"/>
    <bean id="notlazy" class="ru.xcodeleon.spring.Lazy.NotLazyBean" lazy-init="false"/>
</beans>